In [13]:
#Exercicio 9
import pandas as pd
df = pd.read_csv("pres_primary_avgs_1980-2016.csv")
#print(df)
df.sort_values(by='pct_estimate', ascending=False)
print(df)

         race         state   modeldate          candidate_name  candidate_id  \
0       1980D    California  1979-10-23            Jimmy Carter           467
1       1980D   Connecticut  1979-10-23            Jimmy Carter           467
2       1980D       Florida  1979-10-23            Jimmy Carter           467
3       1980D       Georgia  1979-10-23            Jimmy Carter           467
4       1980D          Iowa  1979-10-23            Jimmy Carter           467
...       ...           ...         ...                     ...           ...
301690  2016D       Montana  2016-06-07  Hillary Rodham Clinton          9207
301691  2016D      National  2016-06-07  Hillary Rodham Clinton          9207
301692  2016D    New Jersey  2016-06-07  Hillary Rodham Clinton          9207
301693  2016D    New Mexico  2016-06-07  Hillary Rodham Clinton          9207
301694  2016D  South Dakota  2016-06-07  Hillary Rodham Clinton          9207

        pct_estimate  pct_trend_adjusted       timestamp       comment  \
0           21.80135            22.59785  12/10/19 16:26  one day test
1           24.00000            29.39666  12/10/19 16:26  one day test
2           46.82137            46.18658  12/10/19 16:26  one day test
3           57.22388            57.02980  12/10/19 16:26  one day test
4           21.83582            23.07114  12/10/19 16:26  one day test
...              ...                 ...             ...           ...
301690      55.00000            51.77274  12/10/19 16:07  one day test
301691      52.48301                 NaN  12/10/19 16:07  one day test
301692      59.37868            59.69436  12/10/19 16:07  one day test
301693      53.30000            53.57730  12/10/19 16:07  one day test
301694      50.00000            50.32890  12/10/19 16:07  one day test

       contestdate
0       1980-06-03
1       1980-03-25
2       1980-03-11
3       1980-03-11
4       1980-01-21
...            ...
301690  2016-06-07
301691         NaN
301692  2016-06-07
301693  2016-06-07
301694  2016-06-07

[301695 rows x 10 columns]

In [14]:
#Exercicio 10
import pandas
import numpy as np
from collections import Counter
text = open('ciência_de_dados.txt').read().split()
C = Counter(text)
print(C)
df = pandas.DataFrame(text)
np.savetxt('./np.txt', df.values, fmt='%s')
df.to_csv('./pandas.txt', header=None, index=None, sep=' ', mode='a')

Counter({'de': 17, 'e': 7, 'dados': 6, 'o': 4, 'para': 3, 'a': 3, 'Ciência': 2, 'data': 2, 'é': 2, 'análise': 2, 'ou': 2, 'que': 2, 'insights': 2, 'tomadas': 2, 'machine': 2, 'áreas': 2, 'como': 2, 'como:': 2, 'A': 2, 'ciência': 2, 'em': 2, '(em': 1, 'inglês:': 1, 'science': 1, ')': 1, 'uma': 1, 'área': 1, 'interdisciplinar': 1, 'voltada': 1, 'estudo': 1, 'dados,': 1, 'estruturados': 1, 'não,': 1, 'visa': 1, 'extração': 1, 'conhecimento': 1, 'possíveis': 1, 'decisão,': 1, 'maneira': 1, 'similar': 1, 'à': 1, 'mineração': 1, 'dados.': 1, 'alia': 1, 'big': 1, 'learning,': 1, 'além': 1, 'técnicas': 1, 'outras': 1, 'interdisciplinares': 1, 'estatística,': 1, 'economia,': 1, 'engenharia': 1, 'outros': 1, 'subcampos': 1, 'da': 1, 'computação': 1, 'banco': 1, 'agrupamentos': 1, '(cluster': 1, 'analysis).': 1, 'um': 1, 'campo': 1, 'já': 1, 'existe': 1, 'há': 1, '30': 1, 'anos,': 1, 'porém': 1, 'ganhou': 1, 'mais': 1, 'destaque': 1, 'nos': 1, 'últimos': 1, 'anos': 1, 'devido': 1, 'alguns': 1, 'fatores': 1, 'surgimento': 1, 'popularização': 1, 'do': 1, 'Big': 1, 'Data': 1, 'desenvolvimento': 1, 'learning.': 1, 'pode,': 1, 'por': 1, 'exemplo,': 1, 'transformar': 1, 'essa': 1, 'grande': 1, 'quantidade': 1, 'brutos': 1, 'negócios,': 1, 'com': 1, 'isso,': 1, 'auxiliar': 1, 'empresas': 1, 'decisões': 1, 'atingir': 1, 'melhores': 1, 'resultados.': 1, 'Fonte:': 1, 'https://pt.wikipedia.org/wiki/Ci%C3%AAncia_de_dados': 1})

In [52]:
#Exercicio 11
import pandas as pd

df1 = pd.DataFrame({
    'Nome': ['Joao'],
    'rat': ['A'],
    'evento': [1],
    'sim/nao': ['sim']
   })

df2 = pd.DataFrame({
    'cat': [('A', 'B')],
    'evento': [1],
    'resp': ['nao']
   })
#junta tuas tabelas
df = df1.join(df2, lsuffix='_df1', rsuffix='_df2')
df.to_csv('./df.csv', index=None, sep=',', mode='a')
print(df)

   Nome rat  evento_df1 sim/nao     cat  evento_df2 resp
0  Joao   A           1     sim  (A, B)           1  nao

In [53]:
#Exercicio 12
import pandas as pd
df = pd.read_csv("df.csv", usecols=["Nome", "resp"])
print(df)

   Nome resp
0  Joao  nao

In [69]:
#Exercicio 13
import pandas as pd
import csv

newRow = "%s,%s,%i,%s,%s,%i,%s\n" % ('Marcia', 'BA', 0 , 'sim', 'XX', 0, 'nao')
with open("df.csv", "a") as f:
    f.write(newRow)
print(f)

with open('df.csv', 'r') as inp, open('out_df.csv', 'w') as out:
    writer = csv.writer(out)
    for row in csv.reader(inp):
        if row[2] != "0":
            writer.writerow(row)
            print(out)

<_io.TextIOWrapper name='df.csv' mode='a' encoding='cp1252'>
<_io.TextIOWrapper name='out_df.csv' mode='w' encoding='cp1252'>
<_io.TextIOWrapper name='out_df.csv' mode='w' encoding='cp1252'>
<_io.TextIOWrapper name='out_df.csv' mode='w' encoding='cp1252'>
<_io.TextIOWrapper name='out_df.csv' mode='w' encoding='cp1252'>
<_io.TextIOWrapper name='out_df.csv' mode='w' encoding='cp1252'>
<_io.TextIOWrapper name='out_df.csv' mode='w' encoding='cp1252'>

In [70]:
#Exercicio 14
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycol.update_one(myquery, newvalues)

for x in mycol.find():
  print(x)

ModuleNotFoundError: No module named 'pymongo'

In [ ]:
#Exercicio 15
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": "Mountain 21" }

mycol.delete_one(myquery)

In [10]:
#Exercicio 16
import json

f = open('2015_USPTOf.json')
 
# returns JSON object as
# a dictionary
data = json.load(f)

# for ele in enumerate(data):
#     print (ele)

enum = enumerate(data)
 
next_element = next(enum)
print(f"Next Element: {next_element}")

AttributeError: 'function' object has no attribute 'header'