In [2]:
import pandas as pd
import numpy as np

# 1) Crie um conjunto de dados com dois níveis hierárquicos de linhas e  colunas.

In [5]:
import pandas as pd
import numpy as np

dates = pd.date_range('1/1/2000', periods=8)

df = pd.DataFrame(np.random.randn(8, 4),
                  index=dates, columns=['A', 'B', 'C', 'D'])
print(df)
df.to_csv('./tabelaB2.csv', sep=';')

                   A         B         C         D
2000-01-01 -0.463963 -0.968954  0.415451  0.850133
2000-01-02  1.257656 -0.501952  0.432452  1.175130
2000-01-03  0.197356  0.399843  0.010178  0.055517
2000-01-04 -1.323999  1.662013  0.408586 -1.080910
2000-01-05  1.041372 -0.485341  0.945741  1.750746
2000-01-06  0.893439  0.263968  0.529491  0.385349
2000-01-07 -0.085133  0.657541  0.922529 -0.477990
2000-01-08 -0.847292 -0.738371 -0.081029  1.866670

# 2) A partir dos conjunto de dados realize operações de soma, média, mínimo e máximo considerando os níveis de hierarquia das linhas.

In [50]:
import pandas as pd
import numpy as np

df1= pd.read_csv("tabelaB2.csv", sep=';' )['A']
df2 = pd.read_csv("tabelaB2.csv", sep=';' )['B']
soma = df1 + df2
print(soma)

media = soma/2
print(media)

numax= np.maximum(df1, df2)
print(numax)

print(min(df1))

0   -1.432918
1    0.755703
2    0.597198
3    0.338014
4    0.556031
5    1.157407
6    0.572409
7   -1.585663
dtype: float64
0   -0.716459
1    0.377852
2    0.298599
3    0.169007
4    0.278016
5    0.578703
6    0.286204
7   -0.792832
dtype: float64
0   -0.463963
1    1.257656
2    0.399843
3    1.662013
4    1.041372
5    0.893439
6    0.657541
7   -0.738371
dtype: float64
-1.3239988821870867

# 3) Agora realize uma agregação (soma, por exemplo) considerando uma das colunas, ou seja, axis=1.

In [7]:
import pandas as pd
import numpy as np

df= pd.read_csv("tabelaB2.csv", sep=';' )

df.groupby(level=0, axis=1).sum()

print(df)

   Unnamed: 0         A         B         C         D
0  2000-01-01 -0.463963 -0.968954  0.415451  0.850133
1  2000-01-02  1.257656 -0.501952  0.432452  1.175130
2  2000-01-03  0.197356  0.399843  0.010178  0.055517
3  2000-01-04 -1.323999  1.662013  0.408586 -1.080910
4  2000-01-05  1.041372 -0.485341  0.945741  1.750746
5  2000-01-06  0.893439  0.263968  0.529491  0.385349
6  2000-01-07 -0.085133  0.657541  0.922529 -0.477990
7  2000-01-08 -0.847292 -0.738371 -0.081029  1.866670

# 4) Crie dois conjuntos de dados (muitos-para-um) e aplique uma junção interna e uma junção externa.

In [26]:
df1 = pd.DataFrame({'Chave': ['b', 'b', 'a', 'c', 'a', 'b'],
                    'Coluna 1': range(6)})
df2 = pd.DataFrame({'Chave': ['a', 'q', 'e', 'e', 'd'],
                    'Coluna 2': range(5)})
print(df1)
print(df2)

pd.merge(df1, df2, how='inner')
pd.merge(df1, df2, how='outer')

  Chave  Coluna 1
0     b         0
1     b         1
2     a         2
3     c         3
4     a         4
5     b         5
  Chave  Coluna 2
0     a         0
1     q         1
2     e         2
3     e         3
4     d         4

  Chave  Coluna 1  Coluna 2
0     b       0.0       NaN
1     b       1.0       NaN
2     b       5.0       NaN
3     a       2.0       0.0
4     a       4.0       0.0
5     c       3.0       NaN
6     q       NaN       1.0
7     e       NaN       2.0
8     e       NaN       3.0
9     d       NaN       4.0

# 5) Localize linhas do conjunto de dados gerado no exercício anterior considerando determinado critério de localização.

In [50]:
df1 = pd.DataFrame({'Chave': ['b', 'b', 'a', 'c', 'a', 'b'],
                    'Coluna 1': range(6)})
df2 = pd.DataFrame({'Chave': ['a', 'q', 'e', 'e', 'd'],
                    'Coluna 2': range(5)})

df= pd.merge(df1, df2, how='outer')
df.index = df['Chave']
print(df)
df.loc['a']

      Chave  Coluna 1  Coluna 2
Chave
b         b       0.0       NaN
b         b       1.0       NaN
b         b       5.0       NaN
a         a       2.0       0.0
a         a       4.0       0.0
c         c       3.0       NaN
q         q       NaN       1.0
e         e       NaN       2.0
e         e       NaN       3.0
d         d       NaN       4.0

      Chave  Coluna 1  Coluna 2
Chave
a         a       2.0       0.0
a         a       4.0       0.0

# 6) Com base no conjunto de dados abaixo realize algumas consultas utilizando o método loc.

In [18]:
import pandas as pd

df = pd.DataFrame({'Age': [30, 20, 22, 40, 32, 28, 39],
                   'Color': ['Blue', 'Green', 'Red', 'White', 'Gray', 'Black',
                             'Red'],
                   'Food': ['Steak', 'Lamb', 'Mango', 'Apple', 'Cheese',
                            'Melon', 'Beans'],
                   'Height': [165, 170, 120, 80, 180, 172, 150],
                   'Score': [4.6, 8.3, 9.0, 3.3, 1.8, 9.5, 2.2],
                   'State': ['NY', 'TX', 'FL', 'AL', 'AK', 'TX', 'TX']
                   },
                  index=['Jane', 'Nick', 'Aaron', 'Penelope', 'Dean',
                         'Christina', 'John'])
print(df)

df.loc['Jane']
df.loc['Jane','Color']
df.loc[['Nick','Dean'], ['Score']]

           Age  Color    Food  Height  Score State
Jane        30   Blue   Steak     165    4.6    NY
Nick        20  Green    Lamb     170    8.3    TX
Aaron       22    Red   Mango     120    9.0    FL
Penelope    40  White   Apple      80    3.3    AL
Dean        32   Gray  Cheese     180    1.8    AK
Christina   28  Black   Melon     172    9.5    TX
John        39    Red   Beans     150    2.2    TX

      Score
Nick    8.3
Dean    1.8

# 7) Crie três conjuntos de dados para representar uma relação N:M (Médico, Paciente e Consulta). A partir dos conjuntos realize a integração (merge).

In [67]:
import functools as ft
medico = pd.DataFrame([[15, 'SC'], [32, 'SC'], [5, 'PR']],
                     index=['001', '002', '003'],
                     columns=['CRM', 'Estado'])
print(medico)
paciente = pd.DataFrame([[ 1,'Joao da', 'SC'], [2,'Joaquina', 'SC'], [3,'Arnaldo', 'PR']],
                     index=['001', '002', '003'],
                     columns=['Cod_Paciente','Nome', 'Endereco'])
print(paciente)
consulta = pd.DataFrame([['15', '1'], ['5', '2'], ['32', '3']],
                     index=['001', '002', '003'],
                     columns=['CRM', 'cod_paciente'])
print(consulta)
pd.merge(medico, consulta, how='inner', left_index=True, right_index=True)
pd.merge(paciente, consulta, how='inner', left_index=True, right_index=True)

     CRM Estado
001   15     SC
002   32     SC
003    5     PR
     Cod_Paciente      Nome Endereco
001             1   Joao da       SC
002             2  Joaquina       SC
003             3   Arnaldo       PR
    CRM cod_paciente
001  15            1
002   5            2
003  32            3

     Cod_Paciente      Nome Endereco CRM cod_paciente
001             1   Joao da       SC  15            1
002             2  Joaquina       SC   5            2
003             3   Arnaldo       PR  32            3